@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}


h2 {
    font-weight: 700; 
    color: hsl(218, 44%, 22%);
}

p {
    font-weight: 400;
    font-size: 15px;

    color: hsl(220, 15%, 55%)
}

.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.qr-code-container {
    max-width: 320px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 15px;

}

.qr-code-container img {
    border-radius: 15px;
    width: 100%;
}

.qr-code-container h2,
p {
    padding: 0 20px;
    text-align: center;
}